.config-tabs {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid var(--line);
  padding-bottom: 10px;
}
.config-tabs button {
  border: 0;
  color: var(--muted);
  background: none;
}
.config-tabs button.active {
  background: #f1f1ef;
  color: #37352f;
}
.view-config {
  padding-top: 20px;
  min-height: 200px;
}
.view-config > .muted {
  font-size: 0.9286rem;
  margin-bottom: 15px;
}
.filter-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.filter-mode select {
  width: auto;
}
.filter-rule {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr 28px;
  gap: 8px;
  align-items: center;
  margin: 9px 0;
}
.filter-rule input,
.filter-rule select,
.sort-rule select {
  font-size: 0.9286rem;
}
.sort-rule {
  display: flex;
  gap: 9px;
  align-items: center;
  margin: 10px 0;
}
.sort-rule select {
  flex: 1;
}
.property-config {
  display: flex;
  align-items: center;
  gap: 9px;
  border-bottom: 1px solid var(--line);
  padding: 7px 0;
}
.property-config > svg {
  color: #b0b0ad;
}
.property-config > span:not(.property-type) {
  flex: 1;
}
.property-type {
  font-size: 0.8571rem;
  width: 45px;
  color: var(--muted);
}
.layout-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.layout-options button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  color: #787774;
}
.layout-options button.active {
  background: #f7fbff;
  color: #2383e2;
  border-color: #2383e2;
}
